openapi: 3.1.0
info:
  title: Coinme Crypto-as-a-Service AuthLinkResult CryptoChains API
  version: '1.2'
  description: 'Coinme Crypto-as-a-Service (CaaS) API. Harvested from provider-published per-endpoint OpenAPI blocks at docs.coinme.com/reference. Modular crypto infrastructure: KYC onboarding, quotes, buy/sell orders, wallets, sends, cash on/off-ramp, payment methods, and webhooks.'
servers:
- url: https://caas.coinme.com/services
  description: production
- url: https://caas-staging.coinme.com/services
  description: staging
tags:
- name: CryptoChains
paths:
  /cryptoChains:
    get:
      summary: Get Supported Crypto Chains
      description: Returns a list of supported crypto currencies and their supported chains.
      operationId: get-supported-crypto-chains
      parameters:
      - name: Authorization
        in: header
        description: Bearer token {authorize} endpoint
        required: true
        schema:
          type: string
          default: Bearer ******
      - name: User-Agent
        in: header
        description: Partner User Agent ID (provided by Coinme)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": {\n    \"cryptoChains\": {\n      \"BTC\": {\n        \"code\": \"BTC\",\n        \"name\": \"Bitcoin\",\n        \"decimals\": 8,\n        \"supportedChains\": [\n          \"BTC\"\n        ]\n      },\n      \"MATIC\": {\n        \"code\": \"MATIC\",\n        \"name\": \"Polygon\",\n        \"decimals\": 18,\n        \"supportedChains\": [\n          \"ETH\"\n        ]\n      },\n      \"ETH\": {\n        \"code\": \"ETH\",\n        \"name\": \"Ethereum\",\n        \"decimals\": 18,\n        \"supportedChains\": [\n          \"ETH\"\n        ]\n      },\n      \"XLM\": {\n        \"code\": \"XLM\",\n        \"name\": \"Stellar Lumens\",\n        \"decimals\": 7,\n        \"supportedChains\": [\n          \"XLM\"\n        ]\n      },\n      \"LINK\": {\n        \"code\": \"LINK\",\n        \"name\": \"Chainlink\",\n        \"decimals\": 18,\n        \"supportedChains\": [\n          \"ETH\"\n        ]\n      },\n      \"DOGE\": {\n        \"code\": \"DOGE\",\n        \"name\": \"Dogecoin\",\n        \"decimals\": 8,\n        \"supportedChains\": [\n          \"DOGE\"\n        ]\n      },\n      \"USDC\": {\n        \"code\": \"USDC\",\n        \"name\": \"USD Coin\",\n        \"decimals\": 6,\n        \"supportedChains\": [\n          \"ETH\"\n        ]\n      },\n      \"LTC\": {\n        \"code\": \"LTC\",\n        \"name\": \"Litecoin\",\n        \"decimals\": 8,\n        \"supportedChains\": [\n          \"LTC\"\n        ]\n      }\n    }\n  },\n  \"errorResponse\": null\n}"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cryptoChains:
                        type: object
                        properties:
                          BTC:
                            type: object
                            properties:
                              code:
                                type: string
                                example: BTC
                              name:
                                type: string
                                example: Bitcoin
                              decimals:
                                type: integer
                                example: 8
                                default: 0
                              supportedChains:
                                type: array
                                items:
                                  type: string
                                  example: BTC
                          MATIC:
                            type: object
                            properties:
                              code:
                                type: string
                                example: MATIC
                              name:
                                type: string
                                example: Polygon
                              decimals:
                                type: integer
                                example: 18
                                default: 0
                              supportedChains:
                                type: array
                                items:
                                  type: string
                                  example: ETH
                          ETH:
                            type: object
                            properties:
                              code:
                                type: string
                                example: ETH
                              name:
                                type: string
                                example: Ethereum
                              decimals:
                                type: integer
                                example: 18
                                default: 0
                              supportedChains:
                                type: array
                                items:
                                  type: string
                                  example: ETH
                          XLM:
                            type: object
                            properties:
                              code:
                                type: string
                                example: XLM
                              name:
                                type: string
                                example: Stellar Lumens
                              decimals:
                                type: integer
                                example: 7
                                default: 0
                              supportedChains:
                                type: array
                                items:
                                  type: string
                                  example: XLM
                          LINK:
                            type: object
                            properties:
                              code:
                                type: string
                                example: LINK
                              name:
                                type: string
                                example: Chainlink
                              decimals:
                                type: integer
                                example: 18
                                default: 0
                              supportedChains:
                                type: array
                                items:
                                  type: string
                                  example: ETH
                          DOGE:
                            type: object
                            properties:
                              code:
                                type: string
                                example: DOGE
                              name:
                                type: string
                                example: Dogecoin
                              decimals:
                                type: integer
                                example: 8
                                default: 0
                              supportedChains:
                                type: array
                                items:
                                  type: string
                                  example: DOGE
                          USDC:
                            type: object
                            properties:
                              code:
                                type: string
                                example: USDC
                              name:
                                type: string
                                example: USD Coin
                              decimals:
                                type: integer
                                example: 6
                                default: 0
                              supportedChains:
                                type: array
                                items:
                                  type: string
                                  example: ETH
                          LTC:
                            type: object
                            properties:
                              code:
                                type: string
                                example: LTC
                              name:
                                type: string
                                example: Litecoin
                              decimals:
                                type: integer
                                example: 8
                                default: 0
                              supportedChains:
                                type: array
                                items:
                                  type: string
                                  example: LTC
                  errorResponse: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"timestamp\": \"2022-05-05T13:41:30.927993Z\",\n    \"httpStatus\": 200,\n    \"errorData\": [\n      {\n        \"errorCode\": \"113-404-317-704\",\n        \"message\": \"PartnerProfile resource not found with identifier: 0oa6m8x63q6vlKDds1d7\"\n      }\n    ],\n    \"path\": \"GET /partner-profile/0oa6m8x63q6vlKDds1d7/currency/chain\"\n  }\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errorResponse:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2022-05-05T13:41:30.927993Z'
                      httpStatus:
                        type: integer
                        example: 200
                        default: 0
                      errorData:
                        type: array
                        items:
                          type: object
                          properties:
                            errorCode:
                              type: string
                              example: 113-404-317-704
                            message:
                              type: string
                              example: 'PartnerProfile resource not found with identifier: 0oa6m8x63q6vlKDds1d7'
                      path:
                        type: string
                        example: GET /partner-profile/0oa6m8x63q6vlKDds1d7/currency/chain
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      security:
      - x-api-key: []
      tags:
      - CryptoChains
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
