openapi: 3.1.0
info:
  title: Coinme Crypto-as-a-Service AuthLinkResult SendAuthSms API
  version: '1.2'
  description: 'Coinme Crypto-as-a-Service (CaaS) API. Harvested from provider-published per-endpoint OpenAPI blocks at docs.coinme.com/reference. Modular crypto infrastructure: KYC onboarding, quotes, buy/sell orders, wallets, sends, cash on/off-ramp, payment methods, and webhooks.'
servers:
- url: https://caas.coinme.com/services
  description: production
- url: https://caas-staging.coinme.com/services
  description: staging
tags:
- name: SendAuthSms
paths:
  /sendAuthSms:
    post:
      summary: Initiate Instant Link
      description: This flow requires the user to enter their phone number and to click on the authentication link in the SMS that will be sent to that phone number.
      operationId: initiate-instant-link
      parameters:
      - name: Authorization
        in: header
        description: Bearer token {authorize} endpoint
        required: true
        schema:
          type: string
          default: Bearer ******
      - name: User-Agent
        in: header
        description: Partner User Agent ID (provided by Coinme)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - mobileNumber
              - deviceIp
              properties:
                mobileNumber:
                  type: string
                  description: Phone number to send link to
                deviceIp:
                  type: string
                  description: IP of mobile device. Can be IPv4 or IPv6
                requestId:
                  type: string
                  description: Optional requestId that can be used to track the requests through the entire Instant Link flow. If not sent, it will be generated automatically
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": \n  {\n    \"authUrl\": \"www.example.com/auth/aBc123\" // smsRedirectUrl with authId appended to the path (aBc123)\n  },\n  \"errorResponse\": null\n}"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      authUrl:
                        type: string
                        example: www.example.com/auth/aBc123
                      requestId:
                        type: string
                    description: If there are no client errors this field will be filled out and errorResponse will be null
                  errorResponse:
                    description: If there are client errors, this field will be filled out and data will be null
                    type: object
                    properties:
                      timestamp:
                        type: string
                      httpStatus:
                        type: string
                      errorData:
                        type: array
                        items:
                          properties:
                            errorCode:
                              type: string
                            message:
                              type: string
                          type: object
                      path:
                        type: string
                      retry:
                        type: string
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"POST /services/sendAuthSms\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Failed to send auth SMS to the user\"\n      }\n    ],\n    \"retry\":\"N\"\n  }\n}"
              schema:
                type: object
                properties: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      security:
      - x-api-key: []
      tags:
      - SendAuthSms
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
