openapi: 3.1.0
info:
  title: Coinme Crypto-as-a-Service AuthLinkResult Widget API
  version: '1.2'
  description: 'Coinme Crypto-as-a-Service (CaaS) API. Harvested from provider-published per-endpoint OpenAPI blocks at docs.coinme.com/reference. Modular crypto infrastructure: KYC onboarding, quotes, buy/sell orders, wallets, sends, cash on/off-ramp, payment methods, and webhooks.'
servers:
- url: https://caas.coinme.com/services
  description: production
- url: https://caas-staging.coinme.com/services
  description: staging
tags:
- name: Widget
paths:
  /widget/transactionhistory:
    get:
      summary: Copy of Get Transaction History
      description: Return the list of all transactions initiated via Partner interface by specific customer within the specified time
      operationId: get_transactionhistory-1
      parameters:
      - name: Authorization
        in: header
        description: Bearer token {authorize} endpoint
        required: true
        schema:
          type: string
          default: Bearer ******
      - name: User-Agent
        in: header
        description: Partner User Agent ID (provided by Coinme)
        required: true
        schema:
          type: string
      - in: query
        name: customerId
        schema:
          type: integer
          format: int64
        required: true
        description: Unique customer identifier
      - in: query
        name: currencyCode
        schema:
          type: string
        description: Currency code of the cryptocurrency (i.e. DOGE)
      - in: query
        name: startDateTime
        schema:
          type: string
          format: date-time
        description: UTC (i.e. 2022-01-24T16:44:49Z)
      - in: query
        name: endDateTime
        schema:
          type: string
          format: date-time
        description: UTC (i.e. 2022-01-24T16:44:49Z)
      - in: query
        name: page
        schema:
          type: integer
          format: int32
        description: Number of pages
      - in: query
        name: size
        schema:
          type: integer
          format: int32
        description: Page size (max value is 500)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": \n  {\n    \"transactions\": [\n        {\n            \"totalFees\": \"2.5\",\n            \"feeCurrencyCode\":\"USD\",\n            \"creditCurrencyAmount\":\"771.9075\",\n            \"creditCurrencyCode\":\"DOGE\",\n            \"debitCurrencyAmount\":\"100\",//Amount value requested by User\n            \"debitCurrencyCode\":\"USD\",\n            \"transactionDateTime\": \"2022-01-25T09:27:07.066193Z\",//UTC\n            \"partnerTransactionId\": \"345678\",\n            \"transactionStatus\": \"CONFIRMED\",\n            \"fromWalletAddress\": \"\",\n            \"toWalletAddress\": \"\",\n            \"promoCode\":\"noFees\" //optional, if a promo code is used\n        },\n        {\n            \"totalFees\": \"2.5\",\n            \"feeCurrencyCode\":\"USD\",\n            \"creditCurrencyAmount\":\"100\",//Amount value requested by User \n            \"creditCurrencyCode\":\"USD\",\n            \"debitCurrencyAmount\":\"749.0925\",\n            \"debitCurrencyCode\":\"DOGE\",\n            \"transactionDateTime\": \"2022-01-25T09:56:46.436559Z\",//UTC\n            \"partnerTransactionId\": \"345987\",\n            \"transactionStatus\": \"CONFIRMED\",\n            \"fromWalletAddress\": \"\",\n            \"toWalletAddress\": \"\",\n            \"promoCode\":\"noFees\" //optional, if a promo code is used\n        }\n    ]\n  },\n  \"errorResponse\": null\n}"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      transactions:
                        type: array
                        items:
                          type: object
                          properties:
                            totalFees:
                              type: string
                              example: '2.5'
                            feeCurrencyCode:
                              type: string
                              example: USD
                            creditCurrencyAmount:
                              type: string
                              example: '771.9075'
                            creditCurrencyCode:
                              type: string
                              example: DOGE
                            debitCurrencyAmount:
                              type: string
                              example: '100'
                            debitCurrencyCode:
                              type: string
                              example: USD
                            transactionDateTime:
                              type: string
                              example: '2022-01-25T09:27:07.066193Z'
                            partnerTransactionId:
                              type: string
                              example: '345678'
                            transactionStatus:
                              type: string
                              example: CONFIRMED
                            fromWalletAddress:
                              type: string
                              example: ''
                            toWalletAddress:
                              type: string
                              example: ''
                            promoCode:
                              type: string
                              example: noFees
                  errorResponse: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"/services/transactionhistory GET\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Customer Id not found\"\n      }\n    ]\n  }\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errorResponse:
                    type: object
                    properties:
                      httpStatus:
                        type: string
                        example: '200'
                      timestamp:
                        type: string
                        example: '2022-02-01T18:59:28.297Z'
                      path:
                        type: string
                        example: /services/transactionhistory GET
                      errorData:
                        type: array
                        items:
                          type: object
                          properties:
                            errorCode:
                              type: string
                              example: 123-123-123-123
                            message:
                              type: string
                              example: Customer Id not found
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      security:
      - x-api-key: []
      tags:
      - Widget
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
