openapi: 3.1.0
info:
  title: Coinme Crypto-as-a-Service AuthLinkResult Transactionlimits API
  version: '1.2'
  description: 'Coinme Crypto-as-a-Service (CaaS) API. Harvested from provider-published per-endpoint OpenAPI blocks at docs.coinme.com/reference. Modular crypto infrastructure: KYC onboarding, quotes, buy/sell orders, wallets, sends, cash on/off-ramp, payment methods, and webhooks.'
servers:
- url: https://caas.coinme.com/services
  description: production
- url: https://caas-staging.coinme.com/services
  description: staging
tags:
- name: Transactionlimits
paths:
  /transactionlimits:
    get:
      summary: Get Transaction Limits
      description: Return the remaining limit based on varying transaction limits that are dynamically imposed on the Customer based on risk analysis and documents/data collected
      operationId: get-transaction-limits
      parameters:
      - name: customerId
        in: query
        description: Unique customer identifier
        required: true
        schema:
          type: integer
          format: int64
      - name: fiatCurrencyCode
        in: query
        description: Currency code of the fiat (i.e. USD)
        required: true
        schema:
          type: string
          default: USD
      - name: Authorization
        in: header
        description: Bearer token {authorize} endpoint
        required: true
        schema:
          type: string
          default: Bearer ******
      - name: User-Agent
        in: header
        description: Partner User Agent ID (provided by Coinme)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": \n  {\n    \"buyLimitAmount\":\"500.00\",// in USD as the Fiat Currency requested is USD\n    \"sellLimitAmount\":\"500.00\"// in USD as the Fiat Currency requested is USD\n  },\n  \"errorResponse\": null\n}"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      buyLimitAmount:
                        type: string
                        example: '500.00'
                      sellLimitAmount:
                        type: string
                        example: '500.00'
                  errorResponse: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"/services/transactionlimits GET\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Customer Id not found\"\n      }\n    ]\n  }\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errorResponse:
                    type: object
                    properties:
                      httpStatus:
                        type: string
                        example: '200'
                      timestamp:
                        type: string
                        example: '2022-02-01T18:59:28.297Z'
                      path:
                        type: string
                        example: /services/transactionlimits GET
                      errorData:
                        type: array
                        items:
                          type: object
                          properties:
                            errorCode:
                              type: string
                              example: 123-123-123-123
                            message:
                              type: string
                              example: Customer Id not found
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      security:
      - x-api-key: []
      tags:
      - Transactionlimits
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
