openapi: 3.1.0
info:
  title: Coinme Crypto-as-a-Service AuthLinkResult Businessonboarding API
  version: '1.2'
  description: 'Coinme Crypto-as-a-Service (CaaS) API. Harvested from provider-published per-endpoint OpenAPI blocks at docs.coinme.com/reference. Modular crypto infrastructure: KYC onboarding, quotes, buy/sell orders, wallets, sends, cash on/off-ramp, payment methods, and webhooks.'
servers:
- url: https://caas.coinme.com/services
  description: production
- url: https://caas-staging.coinme.com/services
  description: staging
tags:
- name: Businessonboarding
paths:
  /businessonboarding:
    get:
      summary: Initiate Business Onboarding
      description: Create a new business account if one does not exist. This is to be used for partners who service business clients.
      operationId: initiate-business-onboarding
      parameters:
      - name: Authorization
        in: header
        description: Bearer token {authorize} endpoint
        required: true
        schema:
          type: string
          default: Bearer ******
      - name: User-Agent
        in: header
        description: Partner User Agent ID (provided by Coinme)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - companyName
              - dateOfIncorporation
              - companyAddress
              - countryOfIncorporation
              - companyType
              - companyTaxIdentification Number
              - companyPhone
              - companyEmail
              - ultimateBeneficialOwnerFullName
              properties:
                companyName:
                  type: string
                  description: Name of the company
                dateOfIncorporation:
                  type: string
                  description: Date the company was incorporated (i.e. 2013-04-28)
                  format: date
                companyAddress:
                  type: object
                  description: Full address of the company's headquarters
                  required:
                  - line1
                  - city
                  - state
                  - postalCode
                  - country
                  properties:
                    line1:
                      type: string
                      description: Line 1 of customer home address
                    line2:
                      type: string
                      description: Line 2 of customer home address
                    city:
                      type: string
                      description: City of customer home address
                    state:
                      type: string
                      description: State of customer home address
                    postalCode:
                      type: string
                      description: Postal code of customer home address
                    country:
                      type: string
                      description: 3 character abbreviation of country of customer's home address (i.e. USA)
                countryOfIncorporation:
                  type: string
                  description: Country the company was incorporated in (i.e. United States)
                stateOfIncorporation:
                  type: string
                  description: State the company was incorporated in (i.e. NC)
                companyType:
                  type: string
                  description: Form of business organization (i.e Proprietorship, Partnership, Corporation)
                  enum:
                  - Proprietorship
                  - Partnership
                  - Corporation
                companyTaxIdentification Number:
                  type: string
                  description: Business EIN number
                companyPhone:
                  type: object
                  description: 10-digit business phone number
                  required:
                  - countryCode
                  - number
                  properties:
                    countryCode:
                      type: string
                      description: Country code of phone number (i.e. 1)
                    number:
                      type: string
                      description: 10-digit phone number
                companyEmail:
                  type: string
                  description: Business email
                ultimateBeneficialOwnerFullName:
                  type: object
                  required:
                  - firstName
                  - lastName
                  properties:
                    firstName:
                      type: string
                      description: First name of customer
                    middleName:
                      type: string
                      description: Middle name of customer
                    lastName:
                      type: string
                      description: Last name of customer
                    otherNames:
                      type: object
                      properties:
                        secondLastName:
                          type: string
                          description: Second last name of customer
                        otherName1:
                          type: string
                        otherName2:
                          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": {\n    \"customerId\": \"654987321\"\n  },\n  \"errorResponse\": null\n}"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customerId:
                        type: string
                        example: '654987321'
                  errorResponse: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2025-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"/services/businessonboarding POST\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Invalid business ID\"\n      }\n    ],\n    \"retry\":\"N\"\n  }\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errorResponse:
                    type: object
                    properties:
                      httpStatus:
                        type: string
                        example: '200'
                      timestamp:
                        type: string
                        example: '2025-02-01T18:59:28.297Z'
                      path:
                        type: string
                        example: /services/businessonboarding POST
                      errorData:
                        type: array
                        items:
                          type: object
                          properties:
                            errorCode:
                              type: string
                              example: 123-123-123-123
                            message:
                              type: string
                              example: Invalid business ID
                      retry:
                        type: string
                        example: N
      deprecated: false
      security:
      - basic: []
      tags:
      - Businessonboarding
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
