openapi: 3.1.0
info:
  title: Coinme Crypto-as-a-Service AuthLinkResult Send API
  version: '1.2'
  description: 'Coinme Crypto-as-a-Service (CaaS) API. Harvested from provider-published per-endpoint OpenAPI blocks at docs.coinme.com/reference. Modular crypto infrastructure: KYC onboarding, quotes, buy/sell orders, wallets, sends, cash on/off-ramp, payment methods, and webhooks.'
servers:
- url: https://caas.coinme.com/services
  description: production
- url: https://caas-staging.coinme.com/services
  description: staging
tags:
- name: Send
paths:
  /send:
    post:
      summary: Initiate a Send Transaction
      description: Send a specified amount of crypto to an external wallet address
      operationId: send
      parameters:
      - name: Authorization
        in: header
        description: Bearer token {authorize} endpoint
        required: true
        schema:
          type: string
          default: Bearer ******
      - name: User-Agent
        in: header
        description: Partner User Agent ID (provided by Coinme)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - destinationWalletAddress
              - amount
              - currency
              properties:
                partnerTransactionId:
                  type: string
                  description: Id of the transaction. If the partnerTransactionId is not sent then it will be generated by Coinme and sent back in the response
                customerId:
                  type: integer
                  description: Unique customer identifier
                  format: int64
                destinationWalletAddress:
                  type: string
                  description: Destination wallet address
                amount:
                  type: string
                  description: Amount of crypto to send
                currency:
                  type: string
                  description: Currency of the amount to send (i.e. BTC)
                cryptoChain:
                  type: string
                  description: Chain over which to send the asset (i.e. ETH, XLM)
                blockchainTag:
                  type: string
                  description: Additional wallet identifier
                note:
                  type: string
                  description: Additional transaction information
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{

                    "partnerTransactionId": "ABC1234"

                    }'
              schema:
                type: object
                properties:
                  partnerTransactionId:
                    type: string
                    example: ABC1234
      deprecated: false
      security:
      - basic: []
      tags:
      - Send
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
