openapi: 3.1.0
info:
  title: Coinme Crypto-as-a-Service AuthLinkResult Identity API
  version: '1.2'
  description: 'Coinme Crypto-as-a-Service (CaaS) API. Harvested from provider-published per-endpoint OpenAPI blocks at docs.coinme.com/reference. Modular crypto infrastructure: KYC onboarding, quotes, buy/sell orders, wallets, sends, cash on/off-ramp, payment methods, and webhooks.'
servers:
- url: https://caas.coinme.com/services
  description: production
- url: https://caas-staging.coinme.com/services
  description: staging
tags:
- name: Identity
paths:
  /identity:
    post:
      summary: Initiate Identity Pre-Fill
      description: The following API will attempt to retrieve the personal information for a user given their phone number and Social Security number. In order to keep the information confidential, Coinme uses a third party, VeryGoodSecurity, as a reverse proxy to create a token for the ssn upon the request and then decrypt the token on the request to Prove’s pre-fill service.
      operationId: identity
      parameters:
      - name: Authorization
        in: header
        description: Bearer token {authorize} endpoint
        required: true
        schema:
          type: string
          default: Bearer ******
      - name: User-Agent
        in: header
        description: Partner User Agent ID (provided by Coinme)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - last4
              - phoneNumber
              properties:
                last4:
                  type: string
                  description: Last 4 digits of the Social Security Number (SSN)
                phoneNumber:
                  type: integer
                  description: 10-digit phone number
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"data\": {\n\t\t\"requestId\": \"<<UUID>>\",\n\t\t\"status\": 0,\n\t\t\"description\": \"Success.\",\n\t\t\"additionalInfo\": null,\n\t\t\"response\": {\n\t\t\t\"transactionId\": \"12228113388\",\n\t\t\t\"phoneNumber\": \"<<User Phone Number>>\",\n\t\t\t\"lineType\": \"Landline\",\n\t\t\t\"carrier\": \"<<Carrier>>\",\n\t\t\t\"countryCode\": \"US\",\n\t\t\t\"reasonCodes\": [\n\t\t\t<<List of 2-digit reason codes>>\n\t\t\t],\n\t\t\t\"individual\": {\n\t\t\t\t\"firstName\": \"<<fname>>\",\n\t\t\t\t\"lastName\": \"<<lname>>\",\n\t\t\t\t\"addresses\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"address\": \"<<street>>\",\n\t\t\t\t\t\t\"extendedAddress\": \"\",\n\t\t\t\t\t\t\"city\": \"<<city>>\",\n\t\t\t\t\t\t\"region\": \"<<state>>\",\n\t\t\t\t\t\t\"postalCode\": \"<<zip>>\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"emailAddresses\": null,\n\t\t\t\t\"dob\": \"YYYY-MM-dd\",\n\t\t\t\t\"ssn\": \"<<SSN Token>>\"\n\t\t\t}\n\t\t}\n\t},\n\t\"errorResponse\": null\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"data\": null,\n\t\"errorResponse\": {\n\t\t\"timestamp\": \"2023-08-30T04:43:56.286644803Z\",\n\t\t\"httpStatus\": 200,\n\t\t\"errorData\": [\n\t\t\t{\n\t\t\t\t\"errorCode\": \"131-400-110-004\",\n\t\t\t\t\"message\": \"Subscriber is not found on the required whitelist. - \"\n\t\t\t}\n\t\t],\n\t\t\"path\": \"POST /services/identity\"\n\t}\n}"
              schema:
                type: object
                properties:
                  data: {}
                  errorResponse:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2023-08-30T04:43:56.286644803Z'
                      httpStatus:
                        type: integer
                        example: 200
                        default: 0
                      errorData:
                        type: array
                        items:
                          type: object
                          properties:
                            errorCode:
                              type: string
                              example: 131-400-110-004
                            message:
                              type: string
                              example: 'Subscriber is not found on the required whitelist. - '
                      path:
                        type: string
                        example: POST /services/identity
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      security:
      - x-api-key: []
      tags:
      - Identity
components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
