{
  "openapi": "3.1.0",
  "info": {
    "title": "Coinme Crypto-as-a-Service API",
    "version": "1.2",
    "description": "Coinme Crypto-as-a-Service (CaaS) API. Harvested from provider-published per-endpoint OpenAPI blocks at docs.coinme.com/reference. Modular crypto infrastructure: KYC onboarding, quotes, buy/sell orders, wallets, sends, cash on/off-ramp, payment methods, and webhooks."
  },
  "servers": [
    {
      "url": "https://caas.coinme.com/services",
      "description": "production"
    },
    {
      "url": "https://caas-staging.coinme.com/services",
      "description": "staging"
    }
  ],
  "components": {
    "securitySchemes": {
      "basic": {
        "type": "http",
        "scheme": "basic"
      },
      "x-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "paths": {
    "/authorize": {
      "post": {
        "summary": "Get Authorization Token",
        "description": "The first step for a partner is to obtain authentication token by calling the Coinme authorize endpoint, this token has a 60m life and needs to be passed with each subsequent call",
        "operationId": "initiate-authorize",
        "parameters": [
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (given by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "basic": []
          }
        ]
      }
    },
    "/mobileAuth": {
      "post": {
        "summary": "Initiate Mobile Auth",
        "description": "",
        "operationId": "mobile-auth",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "deviceIp",
                  "consentTransactionId",
                  "consentDescription",
                  "consentCollectedTimestamp"
                ],
                "properties": {
                  "deviceIp": {
                    "type": "string",
                    "description": "IP of mobile device. Can be IPv4 or IPv6"
                  },
                  "consentTransactionId": {
                    "type": "string",
                    "description": "Unique id of the consent collected by the client"
                  },
                  "consentDescription": {
                    "type": "string",
                    "description": "The client describes the type of consent (electronic/paper), use case and reference to the version of Terms and Conditions (T&Cs), if applicable"
                  },
                  "consentCollectedTimestamp": {
                    "type": "string",
                    "description": "Date/Time field when the original consent was collected by the client (format: YYYY-MM-DD)",
                    "format": "date"
                  },
                  "requestId": {
                    "type": "string",
                    "description": "Optional requestId that can be used to track the requests through the entire Mobile Auth flow. If not sent, it will be generated automatically"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n  {\n    \"redirectTargetUrl\": \"http://www.example.com?vfp=abc123...\"\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "redirectTargetUrl": {
                          "type": "string",
                          "example": "http://www.example.com?vfp=abc123..."
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "description": "If there are no client errors this field will be filled out and errorResponse will be null"
                    },
                    "errorResponse": {
                      "description": "If there are client errors, this field will be filled out and data will be null",
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "httpStatus": {
                          "type": "string"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "errorCode": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"POST /services/mobileAuth\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Required field missing or blank\"\n      }\n    ],\n    \"retry\":\"N\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/mobileAuthFinish": {
      "post": {
        "summary": "Initiate Mobile Auth Finish",
        "description": "",
        "operationId": "mobile-auth-finish",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verificationFingerprint"
                ],
                "properties": {
                  "verificationFingerprint": {
                    "type": "string",
                    "description": "Extracted from the URL at finalTargetUrl"
                  },
                  "requestId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n  {\n    \"authenticatedPhoneNumber\": \"15553031212\"\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "authenticatedPhoneNumber": {
                          "type": "string",
                          "example": "15553031212"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "description": "If there are no client errors this field will be filled out and errorResponse will be null"
                    },
                    "errorResponse": {
                      "description": "If there are client errors, this field will be filled out and data will be null",
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "httpStatus": {
                          "type": "string"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "errorCode": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"POST /services/mobileAuthFinish\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Required field missing or blank\"\n      }\n    ],\n    \"retry\":\"N\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/sendAuthSms": {
      "post": {
        "summary": "Initiate Instant Link",
        "description": "This flow requires the user to enter their phone number and to click on the authentication link in the SMS that will be sent to that phone number.",
        "operationId": "initiate-instant-link",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobileNumber",
                  "deviceIp"
                ],
                "properties": {
                  "mobileNumber": {
                    "type": "string",
                    "description": "Phone number to send link to"
                  },
                  "deviceIp": {
                    "type": "string",
                    "description": "IP of mobile device. Can be IPv4 or IPv6"
                  },
                  "requestId": {
                    "type": "string",
                    "description": "Optional requestId that can be used to track the requests through the entire Instant Link flow. If not sent, it will be generated automatically"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n  {\n    \"authUrl\": \"www.example.com/auth/aBc123\" // smsRedirectUrl with authId appended to the path (aBc123)\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "authUrl": {
                          "type": "string",
                          "example": "www.example.com/auth/aBc123"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "description": "If there are no client errors this field will be filled out and errorResponse will be null"
                    },
                    "errorResponse": {
                      "description": "If there are client errors, this field will be filled out and data will be null",
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "httpStatus": {
                          "type": "string"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "errorCode": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"POST /services/sendAuthSms\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Failed to send auth SMS to the user\"\n      }\n    ],\n    \"retry\":\"N\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/smsAuth/{authId}": {
      "get": {
        "summary": "Get Instant Link by ID",
        "description": "To be used for the First Option in the Customer Onboarding using Coinme KYC guide. The smsRedirectUrl is a URL in the Coinme domain",
        "operationId": "get-instant-link-by-id",
        "parameters": [
          {
            "name": "authId",
            "in": "path",
            "description": "authId appended to the smsRedirectUrl from the Initiate Instant Link response",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/authLinkResult": {
      "post": {
        "summary": "Initiate Instant Link Finish",
        "description": "Extract the vfp value from the URL and use it to ask for the result of the authentication.",
        "operationId": "instant-link-finish",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verificationFingerprint"
                ],
                "properties": {
                  "verificationFingerprint": {
                    "type": "string",
                    "description": "Extracted from the URL at finalTargetUrl"
                  },
                  "requestId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n  {\n    \"authenticatedPhoneNumber\": \"15553031212\"\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "authenticatedPhoneNumber": {
                          "type": "string",
                          "example": "15553031212"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "description": "If there are no client errors this field will be filled out and errorResponse will be null"
                    },
                    "errorResponse": {
                      "description": "If there are client errors, this field will be filled out and data will be null",
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "httpStatus": {
                          "type": "string"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "errorCode": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"POST /services/authLinkResult\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Required field missing or blank\"\n      }\n    ],\n    \"retry\":\"N\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/identity": {
      "post": {
        "summary": "Initiate Identity Pre-Fill",
        "description": "The following API will attempt to retrieve the personal information for a user given their phone number and Social Security number. In order to keep the information confidential, Coinme uses a third party, VeryGoodSecurity, as a reverse proxy to create a token for the ssn upon the request and then decrypt the token on the request to Prove\u2019s pre-fill service.",
        "operationId": "identity",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "last4",
                  "phoneNumber"
                ],
                "properties": {
                  "last4": {
                    "type": "string",
                    "description": "Last 4 digits of the Social Security Number (SSN)"
                  },
                  "phoneNumber": {
                    "type": "integer",
                    "description": "10-digit phone number",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"data\": {\n\t\t\"requestId\": \"<<UUID>>\",\n\t\t\"status\": 0,\n\t\t\"description\": \"Success.\",\n\t\t\"additionalInfo\": null,\n\t\t\"response\": {\n\t\t\t\"transactionId\": \"12228113388\",\n\t\t\t\"phoneNumber\": \"<<User Phone Number>>\",\n\t\t\t\"lineType\": \"Landline\",\n\t\t\t\"carrier\": \"<<Carrier>>\",\n\t\t\t\"countryCode\": \"US\",\n\t\t\t\"reasonCodes\": [\n\t\t\t<<List of 2-digit reason codes>>\n\t\t\t],\n\t\t\t\"individual\": {\n\t\t\t\t\"firstName\": \"<<fname>>\",\n\t\t\t\t\"lastName\": \"<<lname>>\",\n\t\t\t\t\"addresses\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"address\": \"<<street>>\",\n\t\t\t\t\t\t\"extendedAddress\": \"\",\n\t\t\t\t\t\t\"city\": \"<<city>>\",\n\t\t\t\t\t\t\"region\": \"<<state>>\",\n\t\t\t\t\t\t\"postalCode\": \"<<zip>>\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"emailAddresses\": null,\n\t\t\t\t\"dob\": \"YYYY-MM-dd\",\n\t\t\t\t\"ssn\": \"<<SSN Token>>\"\n\t\t\t}\n\t\t}\n\t},\n\t\"errorResponse\": null\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"data\": null,\n\t\"errorResponse\": {\n\t\t\"timestamp\": \"2023-08-30T04:43:56.286644803Z\",\n\t\t\"httpStatus\": 200,\n\t\t\"errorData\": [\n\t\t\t{\n\t\t\t\t\"errorCode\": \"131-400-110-004\",\n\t\t\t\t\"message\": \"Subscriber is not found on the required whitelist. - \"\n\t\t\t}\n\t\t],\n\t\t\"path\": \"POST /services/identity\"\n\t}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "example": "2023-08-30T04:43:56.286644803Z"
                        },
                        "httpStatus": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "string",
                                "example": "131-400-110-004"
                              },
                              "message": {
                                "type": "string",
                                "example": "Subscriber is not found on the required whitelist. - "
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "example": "POST /services/identity"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/verify": {
      "post": {
        "summary": "Initiate Verify",
        "description": "This endpoint can be called to verify that the submitted data correctly matches the customer associated with it. The more data input, the more accurate of a result can be returned. In order to keep the information confidential, Coinme uses a third party, VeryGoodSecurity, as a reverse proxy to create a token for the ssn upon the request and then decrypt the token on the request to Prove\u2019s pre-fill service.",
        "operationId": "verify",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ssn",
                  "phoneNumber"
                ],
                "properties": {
                  "ssn": {
                    "type": "string",
                    "description": "Social security number token from VGS API call"
                  },
                  "phoneNumber": {
                    "type": "integer",
                    "description": "10-digit phone number",
                    "format": "int32"
                  },
                  "consentStatus": {
                    "type": "string",
                    "description": "enum of optedIn, optedOut, notCollected, unknown",
                    "enum": [
                      "optedIn",
                      "optedOut",
                      "notCollected",
                      "unknown"
                    ]
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name of customer"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of customer"
                  },
                  "address": {
                    "type": "string",
                    "description": "Line 1 of customer home address"
                  },
                  "extendedAddress": {
                    "type": "string",
                    "description": "Line 2 of customer home address"
                  },
                  "city": {
                    "type": "string",
                    "description": "City of customer home address"
                  },
                  "region": {
                    "type": "string",
                    "description": "State of customer home address"
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "Postal code of customer home address"
                  },
                  "dob": {
                    "type": "string",
                    "description": "Date of birth of customer in format YYYY-MM-DD",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"data\": {\n\t\t\"requestId\": \"<<UUID>>\",\n\t\t\"status\": 0,\n\t\t\"description\": \"Success.\",\n\t\t\"additionalInfo\": null,\n\t\t\"response\": {\n\t\t\t\"verified\": true, //boolean to say if the data matches\n\t\t\t\"transactionId\": \"12228136833\",\n\t\t\t\"payfoneAlias\": \"<<payfoneAliasId>>\",\n\t\t\t\"phoneNumber\": \"<<inputPhoneNumber>>\",\n\t\t\t\"lineType\": \"Landline\",\n\t\t\t\"carrier\": \"<<carrier>>\",\n\t\t\t\"countryCode\": \"US\",\n\t\t\t\"reasonCodes\": [\n\t\t\t<<List of 2-digit reason codes>>\n\t\t\t],\n\t\t\t\"address\": {\n\t\t\t\t\"distance\": 0.0,\n\t\t\t\t\"addressScore\": 100, //0-100 on matching of address\n\t\t\t\t\"streetNumber\": 100, //0-100 on matching of street number\n\t\t\t\t\"street\": false, // boolean on street match\n\t\t\t\t\"city\": true, //boolean on city match\n\t\t\t\t\"region\": true, //boolean on region match\n\t\t\t\t\"postalCode\": true //boolean on postal code match\n\t\t\t},\n\t\t\t\"name\": {\n\t\t\t\t\"nameScore\": 100, //0-100 on matching of full name\n\t\t\t\t\"firstName\": 100, //0-100 on matching of first name\n\t\t\t\t\"lastName\": 100 //0-100 on matching of last name\n\t\t\t},\n\t\t\t\"identifiers\": {\n\t\t\t\t\"last4\": false, //if last4 used instead of full ssn (should always be false in this case)\n\t\t\t\t\"dob\": true, //boolean on dob matches\n\t\t\t\t\"driversLicenseState\": false, //boolean on drivers license state match (not supported at this time)\n\t\t\t\t\"driversLicenseNumber\": false, //boolean on drivers license number match (not supported at this time)\n\t\t\t\t\"ssn\": true //boolean on ssn match\n\t\t\t},\n\t\t\t\"knowYourCustomer\": { //AML or Sanctions hits\n\t\t\t\t\"totalHits\": 1, \n\t\t\t\t\"amlTypeLists\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"amlType\": \"pep-class-1\",\n\t\t\t\t\t\t\"listHits\": 1,\n\t\t\t\t\t\t\"fields\": [\n\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\"source\": \"europe-sanction-list\",\n\t\t\t\t\t\t\t\t\"name\": \"TestName\",\n\t\t\t\t\t\t\t\t\"value\": \"TestValue\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t]\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t\"matchDataType\": null //not suported at this time\n\t\t}\n\t},\n\t\"errorResponse\": null\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"data\": null,\n\t\"errorResponse\": {\n\t\t\"timestamp\": \"2023-08-30T04:43:56.286644803Z\",\n\t\t\"httpStatus\": 200,\n\t\t\"errorData\": [\n\t\t\t{\n\t\t\t\t\"errorCode\": \"131-400-110-004\",\n\t\t\t\t\"message\": \"Subscriber is not found on the required whitelist. - \"\n\t\t\t}\n\t\t],\n\t\t\"path\": \"POST /services/identity\"\n\t}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "example": "2023-08-30T04:43:56.286644803Z"
                        },
                        "httpStatus": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "string",
                                "example": "131-400-110-004"
                              },
                              "message": {
                                "type": "string",
                                "example": "Subscriber is not found on the required whitelist. - "
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "example": "POST /services/identity"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/customeronboarding": {
      "post": {
        "summary": "Initiate Customer Onboarding",
        "description": "Verify Customer KYC and create a new customer account if one does not exist",
        "operationId": "customer-onboarding",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "fullName",
                  "address",
                  "phoneNumber",
                  "dateOfBirth",
                  "SSN"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email of customer"
                  },
                  "fullName": {
                    "type": "object",
                    "description": "Full legal name of customer",
                    "required": [
                      "firstName",
                      "lastName"
                    ],
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "First name of customer"
                      },
                      "middleName": {
                        "type": "string",
                        "description": "Middle name of customer"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name of customer"
                      },
                      "otherNames": {
                        "type": "object",
                        "properties": {
                          "secondLastName": {
                            "type": "string",
                            "description": "Second last name of customer"
                          },
                          "otherName1": {
                            "type": "string"
                          },
                          "otherName2": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "address": {
                    "type": "object",
                    "description": "Full home address of customer",
                    "required": [
                      "line1",
                      "city",
                      "state",
                      "postalCode",
                      "country"
                    ],
                    "properties": {
                      "line1": {
                        "type": "string",
                        "description": "Line 1 of customer home address"
                      },
                      "line2": {
                        "type": "string",
                        "description": "Line 2 of customer home address"
                      },
                      "city": {
                        "type": "string",
                        "description": "City of customer home address"
                      },
                      "state": {
                        "type": "string",
                        "description": "State of customer home address"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Postal code of customer home address"
                      },
                      "country": {
                        "type": "string",
                        "description": "3 character abbreviation of country of customer's home address (i.e. USA)"
                      }
                    }
                  },
                  "phoneNumber": {
                    "type": "object",
                    "description": "10-digit phone number",
                    "required": [
                      "countryCode",
                      "number"
                    ],
                    "properties": {
                      "countryCode": {
                        "type": "integer",
                        "description": "Country code of phone number (i.e. 1)",
                        "format": "int32"
                      },
                      "number": {
                        "type": "number",
                        "description": "10-digit phone number"
                      }
                    }
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "description": "Date of birth in format YYYY-MM-DD",
                    "format": "date"
                  },
                  "SSN": {
                    "type": "string",
                    "description": "Social security number of the customer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n  {\n    \"customerId\": \"654987321\"\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "customerId": {
                          "type": "string",
                          "example": "654987321"
                        }
                      }
                    },
                    "errorResponse": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"/services/customeronboarding POST\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Customer identity could not be validated\"\n      }\n    ],\n    \"retry\":\"N\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "httpStatus": {
                          "type": "string",
                          "example": "200"
                        },
                        "timestamp": {
                          "type": "string",
                          "example": "2022-02-01T18:59:28.297Z"
                        },
                        "path": {
                          "type": "string",
                          "example": "/services/customeronboarding POST"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "string",
                                "example": "123-123-123-123"
                              },
                              "message": {
                                "type": "string",
                                "example": "Customer identity could not be validated"
                              }
                            }
                          }
                        },
                        "retry": {
                          "type": "string",
                          "example": "N"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "basic": []
          }
        ]
      }
    },
    "/businessonboarding": {
      "get": {
        "summary": "Initiate Business Onboarding",
        "description": "Create a new business account if one does not exist. This is to be used for partners who service business clients.",
        "operationId": "initiate-business-onboarding",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "companyName",
                  "dateOfIncorporation",
                  "companyAddress",
                  "countryOfIncorporation",
                  "companyType",
                  "companyTaxIdentification Number",
                  "companyPhone",
                  "companyEmail",
                  "ultimateBeneficialOwnerFullName"
                ],
                "properties": {
                  "companyName": {
                    "type": "string",
                    "description": "Name of the company"
                  },
                  "dateOfIncorporation": {
                    "type": "string",
                    "description": "Date the company was incorporated (i.e. 2013-04-28)",
                    "format": "date"
                  },
                  "companyAddress": {
                    "type": "object",
                    "description": "Full address of the company's headquarters",
                    "required": [
                      "line1",
                      "city",
                      "state",
                      "postalCode",
                      "country"
                    ],
                    "properties": {
                      "line1": {
                        "type": "string",
                        "description": "Line 1 of customer home address"
                      },
                      "line2": {
                        "type": "string",
                        "description": "Line 2 of customer home address"
                      },
                      "city": {
                        "type": "string",
                        "description": "City of customer home address"
                      },
                      "state": {
                        "type": "string",
                        "description": "State of customer home address"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "Postal code of customer home address"
                      },
                      "country": {
                        "type": "string",
                        "description": "3 character abbreviation of country of customer's home address (i.e. USA)"
                      }
                    }
                  },
                  "countryOfIncorporation": {
                    "type": "string",
                    "description": "Country the company was incorporated in (i.e. United States)"
                  },
                  "stateOfIncorporation": {
                    "type": "string",
                    "description": "State the company was incorporated in (i.e. NC)"
                  },
                  "companyType": {
                    "type": "string",
                    "description": "Form of business organization (i.e Proprietorship, Partnership, Corporation)",
                    "enum": [
                      "Proprietorship",
                      "Partnership",
                      "Corporation"
                    ]
                  },
                  "companyTaxIdentification Number": {
                    "type": "string",
                    "description": "Business EIN number"
                  },
                  "companyPhone": {
                    "type": "object",
                    "description": "10-digit business phone number",
                    "required": [
                      "countryCode",
                      "number"
                    ],
                    "properties": {
                      "countryCode": {
                        "type": "string",
                        "description": "Country code of phone number (i.e. 1)"
                      },
                      "number": {
                        "type": "string",
                        "description": "10-digit phone number"
                      }
                    }
                  },
                  "companyEmail": {
                    "type": "string",
                    "description": "Business email"
                  },
                  "ultimateBeneficialOwnerFullName": {
                    "type": "object",
                    "required": [
                      "firstName",
                      "lastName"
                    ],
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "First name of customer"
                      },
                      "middleName": {
                        "type": "string",
                        "description": "Middle name of customer"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name of customer"
                      },
                      "otherNames": {
                        "type": "object",
                        "properties": {
                          "secondLastName": {
                            "type": "string",
                            "description": "Second last name of customer"
                          },
                          "otherName1": {
                            "type": "string"
                          },
                          "otherName2": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"customerId\": \"654987321\"\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "customerId": {
                          "type": "string",
                          "example": "654987321"
                        }
                      }
                    },
                    "errorResponse": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2025-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"/services/businessonboarding POST\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",//The error code is just a sample showing the structure of the error code.\n        \"message\":\"Invalid business ID\"\n      }\n    ],\n    \"retry\":\"N\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "httpStatus": {
                          "type": "string",
                          "example": "200"
                        },
                        "timestamp": {
                          "type": "string",
                          "example": "2025-02-01T18:59:28.297Z"
                        },
                        "path": {
                          "type": "string",
                          "example": "/services/businessonboarding POST"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "string",
                                "example": "123-123-123-123"
                              },
                              "message": {
                                "type": "string",
                                "example": "Invalid business ID"
                              }
                            }
                          }
                        },
                        "retry": {
                          "type": "string",
                          "example": "N"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "basic": []
          }
        ]
      }
    },
    "/paymentmethods": {
      "post": {
        "summary": "Add Card Payment Method",
        "description": "Method for adding new card for customer",
        "operationId": "add-new-payment-method",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customerId",
                  "providerId",
                  "card",
                  "billingAddress",
                  "paymentProcessAssociation"
                ],
                "properties": {
                  "customerId": {
                    "type": "integer",
                    "description": "Unique customer identifier",
                    "format": "int64"
                  },
                  "providerId": {
                    "type": "string",
                    "description": "ID of payment provider (provided by Coinme)"
                  },
                  "card": {
                    "type": "object",
                    "description": "Debit card details",
                    "required": [
                      "cardNumber",
                      "month",
                      "year",
                      "cvv"
                    ],
                    "properties": {
                      "cardNumber": {
                        "type": "string",
                        "description": "16-digit debit card number (i.e. 12345343242)"
                      },
                      "month": {
                        "type": "string",
                        "description": "Debit card expiration date month (i.e. 02)"
                      },
                      "year": {
                        "type": "string",
                        "description": "Debit card expiration date month (i.e. 2026)"
                      },
                      "cvv": {
                        "type": "string",
                        "description": "Debit card CVV / security code"
                      }
                    }
                  },
                  "billingAddress": {
                    "type": "object",
                    "description": "Billing address for customer",
                    "required": [
                      "country",
                      "addressLine1",
                      "zipCode",
                      "city",
                      "state"
                    ],
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "First name of customer"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name of customer"
                      },
                      "country": {
                        "type": "string",
                        "description": "2 character abbreviation of country for customer's billing address (i.e. US)"
                      },
                      "addressLine1": {
                        "type": "string",
                        "description": "Line 1 of customer billing address"
                      },
                      "addressLine2": {
                        "type": "string",
                        "description": "Line 2 of customer billing address"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "ZIP code of customer billing address"
                      },
                      "city": {
                        "type": "string",
                        "description": "City of customer billing address"
                      },
                      "state": {
                        "type": "string",
                        "description": "2 character abbreviation of state for customer billing address (i.e. FL)"
                      }
                    }
                  },
                  "paymentProcessAssociation": {
                    "type": "string",
                    "description": "Identifier if payment method is for buy or sell",
                    "enum": [
                      "BUY",
                      "SELL"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n  {\n    \"customerId\":\"34567890\",\n    \"partnerId\":\"30157493212106\",\n    \"paymentMethod\": {\n        \"paymentMethodId\": \"123456\",\n        \"providerId\": \"654987321\",\n        \"providerName\": \"Provider Name\",\n        \"type\": \"DEBIT\", // could be DEBIT, CREDIT or PREPAID\n        \"cardProvider\": \"Visa\",\n        \"card\": {\n            \"cardNumber\": \"123412321\",\n            \"month\": \"03\",\n            \"year\": \"2024\"\n        },\n        \"billingAddress\": {\n            \"firstName\": \"John\",\n            \"lastName\": \"Doe\",\n            \"country\": \"US\",\n            \"addressLine1\": \"11 Creekside St.\",\n            \"addressLine2\": \"Additional line\",\n            \"zipCode\": \"33414\",\n            \"city\": \"West Palm Beach\",\n            \"state\": \"FL\"\n        },\n        \"status\": \"VERIFIED\", //enum, could be [CREATED, VERIFIED, DECLINED, STAGED, DELETED]\n        \"buySupported\": false, \n        \"sellSupported\": true,\n        \"createdAt\": 1714560970 //timestamp in millis\n    }\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "customerId": {
                          "type": "string",
                          "example": "34567890"
                        },
                        "partnerId": {
                          "type": "string",
                          "example": "30157493212106"
                        },
                        "paymentMethod": {
                          "type": "object",
                          "properties": {
                            "paymentMethodId": {
                              "type": "string",
                              "example": "123456"
                            },
                            "stagingProviderId": {
                              "type": "string",
                              "example": "654987321"
                            },
                            "stagingProviderName": {
                              "type": "string",
                              "example": "Provider Name"
                            },
                            "type": {
                              "type": "string",
                              "example": "DEBIT",
                              "enum": [
                                "CREDIT",
                                "DEBIT",
                                "PREPAID"
                              ]
                            },
                            "cardProvider": {
                              "type": "string",
                              "example": "Visa"
                            },
                            "card": {
                              "type": "object",
                              "properties": {
                                "cardNumber": {
                                  "type": "string",
                                  "example": "123412321"
                                },
                                "month": {
                                  "type": "string",
                                  "example": "03"
                                },
                                "year": {
                                  "type": "string",
                                  "example": "2024"
                                }
                              }
                            },
                            "billingAddress": {
                              "type": "object",
                              "properties": {
                                "firstName": {
                                  "type": "string",
                                  "example": "John"
                                },
                                "lastName": {
                                  "type": "string",
                                  "example": "Doe"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "US"
                                },
                                "addressLine1": {
                                  "type": "string",
                                  "example": "11 Creekside St."
                                },
                                "addressLine2": {
                                  "type": "string",
                                  "example": "Additional line"
                                },
                                "zipCode": {
                                  "type": "string",
                                  "example": "33414"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "West Palm Beach"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "FL"
                                }
                              }
                            },
                            "status": {
                              "type": "string",
                              "example": "VERIFIED",
                              "enum": [
                                "CREATED",
                                "VERIFIED",
                                "DECLINED",
                                "STAGED",
                                "DELETED"
                              ]
                            },
                            "buySupported": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "sellSupported": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "createdAt": {
                              "type": "integer",
                              "example": 1714560970,
                              "default": 0
                            }
                          }
                        }
                      },
                      "description": "If there are no client errors this field will be filled out and errorResponse will be null"
                    },
                    "errorResponse": {
                      "description": "If there are client errors, this field will be filled out and data will be null",
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "httpStatus": {
                          "type": "string"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "errorCode": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"/external/partners/v1/payment-method\",\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\", //The error code is just a sample showing the structure of the error code.\n        \"message\":\"Invalid customer id\"\n      }\n    ]\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "get": {
        "summary": "Get All Payment Methods",
        "description": "Method for fetching all payment methods for a specific customer",
        "operationId": "get-all-payment-methods",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Unique customer identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"paymentMethods\": [\n    {\n        \"paymentMethodId\": \"123456\",\n        \"providerId\": \"654987321\",\n        \"providerName\": \"Provider Name\",\n        \"type\": \"DEBIT\", // could be DEBIT, CREDIT or PREPAID\n        \"cardProvider\": \"Visa\",\n        \"card\": {\n            \"cardNumber\": \"123412321\",\n            \"month\": \"03\",\n            \"year\": \"2024\"\n        },\n        \"billingAddress\": {\n            \"firstName\": \"John\",\n            \"lastName\": \"Doe\",\n            \"country\": \"US\",\n            \"addressLine1\": \"11 Creekside St.\",\n            \"addressLine2\": \"Additional line\",\n            \"zipCode\": \"33414\",\n            \"city\": \"West Palm Beach\",\n            \"state\": \"FL\"\n        },\n        \"status\": \"VERIFIED\", //enum, could be [CREATED, VERIFIED, DECLINED, STAGED, DELETED]\n        \"buySupported\": false,\n        \"sellSupported\": true,\n        \"createdAt\": 1714560970, //timestamp in millis\n        \"verifiedAt\": 1714560970 //timestamp in millis\n    }\n    .....\n    ]\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "paymentMethods": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "paymentMethodId": {
                                "type": "string"
                              },
                              "providerId": {
                                "type": "string"
                              },
                              "providerName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "CREDIT",
                                  "DEBIT",
                                  "PREPAID"
                                ]
                              },
                              "cardProvider": {
                                "type": "string"
                              },
                              "card": {
                                "type": "object",
                                "properties": {
                                  "cardNumber": {
                                    "type": "string"
                                  },
                                  "month": {
                                    "type": "string"
                                  },
                                  "year": {
                                    "type": "string"
                                  }
                                }
                              },
                              "billingAddress": {
                                "type": "object",
                                "properties": {
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "addressLine1": {
                                    "type": "string"
                                  },
                                  "addressLine2": {
                                    "type": "string"
                                  },
                                  "zipCode": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  }
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "CREATED",
                                  "VERIFIED",
                                  "DECLINED",
                                  "STAGED",
                                  "DELETED"
                                ]
                              },
                              "buySupported": {
                                "type": "boolean"
                              },
                              "sellSupported": {
                                "type": "boolean"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "verifiedAt": {
                                "type": "string"
                              },
                              "declinedAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "description": "If there are no client errors this field will be filled out and errorResponse will be null"
                    },
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "httpStatus": {
                          "type": "string"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "errorCode": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "string"
                        }
                      },
                      "description": "If there are client errors, this field will be filled out and data will be null"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"/external/v1/payment-method\",//The error code is just a sample showing the structure of the error code.\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\",\n        \"message\":\"Invalid account id\"\n      }\n    ]\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/paymentmethods/{paymentMethodId}": {
      "get": {
        "summary": "Get Payment Method",
        "description": "Method for fetching a payment method by id",
        "operationId": "get-payment-method",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodId",
            "in": "path",
            "description": "ID of payment method to get details of",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Unique customer identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n  {\n    \"paymentMethodId\": \"123456\",\n    \"providerId\": \"654987321\",\n    \"providerName\": \"Provider Name\",\n    \"type\": \"DEBIT\", // could be DEBIT, CREDIT or PREPAID\n    \"cardProvider\": \"Visa\",\n    \"card\": {\n        \"cardNumber\": \"123412321\",\n        \"month\": \"03\",\n        \"year\": \"2024\"\n    },\n    \"billingAddress\": {\n        \"firstName\": \"John\",\n        \"lastName\": \"Doe\",\n        \"country\": \"US\",\n        \"addressLine1\": \"11 Creekside St.\",\n        \"addressLine2\": \"Additional line\",\n        \"zipCode\": \"33414\",\n        \"city\": \"West Palm Beach\",\n        \"state\": \"FL\"\n    },\n    \"status\": \"VERIFIED\", //enum, could be [CREATED, VERIFIED, DECLINED, STAGED, DELETED]\n    \"buySupported\": false,\n    \"sellSupported\": true,\n    \"createdAt\": 1714560970, //timestamp in millis\n    \"verifiedAt\": 1714560970 //timestamp in millis\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "paymentMethodId": {
                          "type": "string",
                          "example": "123456"
                        },
                        "providerId": {
                          "type": "string",
                          "example": "654987321"
                        },
                        "providerName": {
                          "type": "string",
                          "example": "Provider Name"
                        },
                        "type": {
                          "type": "string",
                          "example": "DEBIT",
                          "enum": [
                            "CREDIT",
                            "DEBIT",
                            "PREPAID"
                          ]
                        },
                        "cardProvider": {
                          "type": "string",
                          "example": "Visa"
                        },
                        "card": {
                          "type": "object",
                          "properties": {
                            "cardNumber": {
                              "type": "string",
                              "example": "123412321"
                            },
                            "month": {
                              "type": "string",
                              "example": "03"
                            },
                            "year": {
                              "type": "string",
                              "example": "2024"
                            }
                          }
                        },
                        "billingAddress": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "example": "John"
                            },
                            "lastName": {
                              "type": "string",
                              "example": "Doe"
                            },
                            "country": {
                              "type": "string",
                              "example": "US"
                            },
                            "addressLine1": {
                              "type": "string",
                              "example": "11 Creekside St."
                            },
                            "addressLine2": {
                              "type": "string",
                              "example": "Additional line"
                            },
                            "zipCode": {
                              "type": "string",
                              "example": "33414"
                            },
                            "city": {
                              "type": "string",
                              "example": "West Palm Beach"
                            },
                            "state": {
                              "type": "string",
                              "example": "FL"
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "example": "VERIFIED",
                          "enum": [
                            "CREATED",
                            "VERIFIED",
                            "DECLINED",
                            "STAGED",
                            "DELETED"
                          ]
                        },
                        "buySupported": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "sellSupported": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "createdAt": {
                          "type": "string",
                          "example": 1714560970,
                          "default": 0
                        },
                        "verifiedAt": {
                          "type": "string",
                          "example": 1714560970,
                          "default": 0
                        }
                      },
                      "description": "If there are no client errors this field will be filled out and errorResponse will be null"
                    },
                    "errorResponse": {
                      "description": "If there are client errors, this field will be filled out and data will be null",
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string"
                        },
                        "httpStatus": {
                          "type": "string"
                        },
                        "errorData": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "errorCode": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "path": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": null,\n  \"errorResponse\": {\n    \"httpStatus\":\"200\",\n    \"timestamp\":\"2022-02-01T18:59:28.297Z\",//UTC\n    \"path\":\"/external/partners/v1/payment-method\",//The error code is just a sample showing the structure of the error code.\n    \"errorData\": [\n      {\n        \"errorCode\":\"123-123-123-123\", //The error code is just a sample showing the structure of the error code.\n        \"message\":\"Invalid account id\"\n      }\n    ]\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Payment Method",
        "description": "Method for deleting a payment method",
        "operationId": "delete-payment-method",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token {authorize} endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer ******"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Partner User Agent ID (provided by Coinme)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodId",
            "in": "path",
            "description": "ID of payment method to delete",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Unique customer identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": \n  {\n    \"paymentMethodId\": \"123456\",\n    \"providerId\": \"654987321\",\n    \"providerName\": \"Provider Name\",\n    \"type\": \"DEBIT\", // could be DEBIT, CREDIT or PREPAID\n    \"cardProvider\": \"Visa\",\n    \"card\": {\n        \"cardNumber\": \"123412321\",\n        \"month\": \"03\",\n        \"year\": \"2024\"\n    },\n    \"billingAddress\": {\n        \"firstName\": \"John\",\n        \"lastName\": \"Doe\",\n        \"country\": \"US\",\n        \"addressLine1\": \"11 Creekside St.\",\n        \"addressLine2\": \"Additional line\",\n        \"zipCode\": \"33414\",\n        \"city\": \"West Palm Beach\",\n        \"state\": \"FL\"\n    },\n    \"status\": \"DELETED\", //enum, could be [CREATED, VERIFIED, DECLINED, STAGED, DELETED]\n    \"buySupported\": false,\n    \"sellSupported\": true,\n    \"createdAt\": 1714560970, //timestamp in millis\n    \"deletedAt\": 1714560970 //timestamp in millis\n  },\n  \"errorResponse\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "paymentMethodId": {
                          "type": "string",
                          "example": "123456"
                        },
                        "providerId": {
                          "type": "string",
                          "example": "654987321"
                        },
                        "providerName": {
                          "type": "string",
                          "example": "Provider Name"
                        },
                        "type": {
                          "type": "string",
                          "example": "DEBIT",
                          "enum": [
                            "CREDIT",
                            "DEBIT",
                            "PREPAID"
                          ]
                        },
                        "cardProvider": {
                          "type": "string",
                          "example": "Visa"
                        },
                        "card": {
                          "type": "object",
                          "properties": {
                            "cardNumber": {
                              "type": "string",
                              "example": "123412321"
                            },
                            "month": {
                              "type": "string",
                              "example": "03"
                            },
                            "year": {
                              "type": "string",
                              "example": "2024"
                            }
                          }
                        },
                        "billingAddress": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "example": "John"
                            },
                            "lastName": {
                              "type": "string",
[...]
